services:
    mongodb:
        build:
            context: ./database-engine
            dockerfile: Dockerfile
        container_name: mongodb
        restart: always
        environment:
            - MONGO_INITDB_ROOT_USERNAME=root
            - MONGO_INITDB_ROOT_PASSWORD=example
        command: ["mongod", "--bind_ip", "0.0.0.0"]
        volumes:
            - mongodb_data:/data/db
        ports:
            - "27018:27017"
        networks:
            - app-network

    mongo-backup:
        build:
            context: ./backup-engine
            dockerfile: Dockerfile
        container_name: mongo-backup
        restart: always
        environment:
            - EMAIL_TO=hsairam261@gmail.com
            - SMTP_SERVER=smtp.gmail.com:587
            - SMTP_USER=26thofficial.creator@gmail.com
            - SMTP_PASS=yaubfifsjunosrjv
            - MONGO_HOST=mongodb
            - MONGO_PORT=27017
            - MONGO_USER=root
            - MONGO_PASS=example
            - MONGO_AUTH_DB=admin
            - RCLONE_DRIVE=docker
        volumes:
            - ./backup-storage:/backup
        depends_on:
            - mongodb
        networks:
            - app-network

    compass-web:
        image: haohanyang/compass-web
        container_name: compass-web
        restart: always
        environment:
            - CW_MONGO_URI=mongodb://root:example@mongodb:27017/admin
        depends_on:
            - mongodb
        ports:
            - "8080:8080"
        networks:
            - app-network

volumes:
    mongodb_data:

networks:
    app-network:
        driver: bridge
